.container{
    margin: 10px;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableContainer {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}

table {
    margin: auto;
}