nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
}

nav > div > img {
  width: 120px;
}

.navBtn {
  padding: 10px;
}

.navBtn > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.hidden{
  display: none;
}